<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">


    <!-- Twitter Theme -->
    <meta name="twitter:widgets:theme" content="light">

    <!-- Title &amp; Favicon -->
    <title>GPchat | - Admin dashboard</title>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700%7CHind+Madurai:400,500&amp;subset=latin-ext" rel="stylesheet">

    <!-- Css -->
    <link rel="stylesheet" href="/css/core.min.css" />
    <link rel="stylesheet" href="/css/skin.css" />

    <!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="shop home-page">
<div class="wrapper">
    <div class="wrapper-inner">
        <!-- Content -->
        <div class="content clearfix">

            <!-- Login Section -->
            <div class="section-block replicable-content window-height bkg-heavy-rain-gradient">
                <div class="row flex v-align-middle">
                    <div class="column width-6 offset-3">
                        <div>
                            <div class="logo mb-50">
                                <div class="logo-inner center">
                                    <a href="/">
                                        <img src="images/logo-dark.png" width="125" alt="gpchat Logo" />
                                    </a>
                                </div>
                            </div>
                              <div class="login-form-container">
                                 <form class="login-form" action="/uploadFile" method="post" novalidate enctype="multipart/form-data">
                                     <div class="row">
                                         <div class="column width-12">
                                            <div class="field-wrapper">
                                                <div class="register-form-container">
                    <form class="register-form" action="/dashboard" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="column width-6">
                                <div class="field-wrapper">
                                    <label class="color-charcoal">name of Group:</label>
                                    <input type="text" name="name" class="form-firstname form-element rounded medium" placeholder="name of Group" required>
                                </div>
                            </div>
                            <div class="column width-6">
                                <div class="field-wrapper">
                                    <label for="username" class="color-charcoal">catagory:</label>
                                    <input type="text" name="country" class="form-element rounded medium" placeholder="catagory">
                                </div>
                            </div>
                            <input  type="file" name="upload" class="form-element rounded medium" id="upload-input" style="display: ;">
                            <!-- <button type="button" class="form-submit button rounded medium bkg-green bkg-hover-theme bkg-focus-green color-white color-hover-white mb-0 center-left upload-btn">Upload File
                                <span class="icon-upload right"></span>
                            </button> -->
                        <button  class="form-submit button rounded medium bkg-green bkg-hover-theme bkg-focus-green color-white color-hover-white mb-0 center-left">Add Group</button>
                        <!-- <input type="submit" name="" id="" value="submit"> -->
                        </div>
                    </form>
                     </div>
                           </form>
                             <div class="form-response show"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Login Section End -->  
        </div>
        <!-- Content End -->
    </div>
</div>
<style>
    .window-height{
            height: 50vh;
    }
</style>

<!-- Js -->

<script src="/js/upload.js"></script>
</body>
</html>







