
<!-- END STACK JS-->
<!-- BEGIN PAGE LEVEL JS-->
<script src="/new/js/jquery-3.1.1.min.js"></script>
<script src="/new/js/bootstrap.min.js"></script>
<script src="/new/js/jquery.sticky-kit.min.js"></script>
<script src="/new/js/jquery.scrollbar.min.js"></script>
<script src="/new/js/script.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/messagelink.js"></script>
<script src="/js/group/sendrequest.js"></script>
<script src="/js/home.js"></script>
<script src="/js/deparam.js"></script>

<!-- END PAGE LEVEL JS-->
</body>

</html>
