<!DOCTYPE html>
<html lang="zxx">
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">

	<!-- Open Graph -->
	<meta property="og:title" content="Your Page Title Here" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="Your Page Description Here" />

	<!-- Twitter Theme -->
	<meta name="twitter:widgets:theme" content="light">
	
	<!-- Title &amp; Favicon -->
	<title>GPchat | - Mobile Application</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/theme-mountain-favicon.ico">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700%7CHind+Madurai:400,500&amp;subset=latin-ext" rel="stylesheet">
	
	<!-- Css -->
	<link rel="stylesheet" href="css/core.min.css" />
	<link rel="stylesheet" href="css/skin.css" />

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body class="shop home-page">

	<!-- Side Navigation Menu -->
	<aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="slide-in">
		<div class="side-navigation-scroll-pane">
			<div class="side-navigation-inner">
				<div class="side-navigation-header">
					<div class="navigation-hide side-nav-hide">
						<a href="#">
							<span class="icon-cancel medium"></span>
						</a>
					</div>
				</div>
				<nav class="side-navigation nav-block">
					<ul>
							<li>
								<a href="elements-sticky-columns.html">About Us</a>
							</li>
							<li>
								<a href="elements-sticky-columns.html">How it works</a>
							</li>
							<li>
								<a href="elements-sticky-columns.html">stay connect</a>
							</li>
					</ul>
				</nav>
				<div class="side-navigation-footer">
<!-- 					<p class="copyright no-margin-bottom">&copy; 2017 ThemeMountain.</p>
 -->				</div>
			</div>
		</div>
	</aside>
	<!-- Side Navigation Menu End -->

	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">

			<!-- Header -->
			<header class="header header-absolute header-transparent header-fixed-on-mobile" data-helper-in-threshold="200" data-helper-out-threshold="500" data-sticky-threshold="200" data-bkg-threshold="100">
				<div class="header-inner">
					<div class="row nav-bar">
						<div class="column width-12 nav-bar-inner">
							<div class="logo">
								<div class="logo-inner">
									<a href="index.html"><img src="images/logo-dark.png" alt="Faulkner Logo" /></a>
									<a href="index.html"><img src="images/logo.png" alt="Faulkner Logo" /></a>
								</div>
							</div>
							<nav class="navigation nav-block secondary-navigation nav-right">
								<ul>
									<li class="aux-navigation">
										<!-- Aux Navigation -->
										<a href="#" class="navigation-show side-nav-show nav-icon">
											<span class="icon-menu"></span>
										</a>
									</li>
								</ul>
							</nav>
							<nav class="navigation nav-block primary-navigation nav-left sub-menu-indicator">
								<ul>
									<li class="current">
										<a href="#home" class="scroll-link">Home</a>
									</li>
									<li>
										<a href="#about" class="scroll-link">About Us</a>
									</li>
									<!-- <li class="contains-sub-menu">
										<a href="#how-it-works" class="scroll-link">How It Works</a>
										<div class="sub-menu custom-content">
											<div class="video-container">
												<iframe src="https://player.vimeo.com/video/213961896?title=0&mp;byline=0&amp;portrait=0&amp;color=717dfb" width="500" height="281"></iframe>
											</div> -->
											<!-- <ul>
												<li>
													<h4>Get started</h4>
												</li>
												<li>
													<a href="index.html">Overview</a>
												</li>
												<li>
													<a href="homepage-mobile-application-2.html">Payment System</a>
												</li>
												<li>
													<a href="about-style-one.html">About Us</a>
												</li>
												<li>
													<a href="elements-pricing-tables.html">Pricing</a>
												</li>
											</ul> -->
											<!-- <ul class="bkg-grey-ultralight">
												<li>
													<h4>Popular topics</h4>
												</li>
												<li>
													<a href="index-register-2.html">Create Account</a>
												</li>
												<li>
													<a href="project-style-two.html">Roadmap</a>
												</li>
												<li>
													<a href="elements-feature-columns.html">Features</a>
												</li>
												<li>
													<a href="frequently-asked-questions.html">Frequent Questions</a>
												</li>
											</ul> -->
										<!-- </div> -->
									</li>
									<li>
										<a href="#signup" class="scroll-link">Stay Connected</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</header>
			<!-- Header End -->

			<!-- Content -->
			<div class="content clearfix">

				<!-- Intro Section -->
				<div id="home" class="section-block hero-2-4 window-height clear-height-on-tablet">
					<div class="media-overlay bkg-black opacity-05"></div>
					<div class="row flex v-align-middle">
						<div class="column width-12">
							<div class="row flex one-column-on-tablet">
								<div class="column width-6 v-align-middle">
									<div>
										<h1 class="color-white">Get Closer to Your Clients</h1>
										<p class="lead color-white">GPchat is a web app that enables anyone to send, receive, and pay for goods and services with the tap of a button.</p>
										<a href="#about" class="scroll-link button rounded medium border-white bkg-hover-green color-white color-hover-white left mb-80">
											Discover More
										</a>
									</div>
								</div>
								<div class="column width-5 offset-1">
									<div class="signup-box box rounded xlarge mb-0 bkg-white shadow">
										<h3>Register an Account</h3>
										<p class="mb-20">Already have an account? <a href="login" class="fade-location">Click Here</a></p>
										<div class="register-form-container">
											<form class="register-form" action="#" method="post" novalidate>
												<div class="row">
													<!-- <div class="column width-6">
														<div class="field-wrapper">
															<label class="color-charcoal">First Name:</label>
															<input type="text" name="" class="form-firstname form-element rounded medium" placeholder="John" required>
														</div>
													</div> -->
													<div class="column width-12">
														<div class="field-wrapper">
															<label class="color-charcoal">username:</label>
															<input type="text" name="username" class="form-lastname form-element rounded medium" placeholder="zuber" required>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="column width-12">
														<div class="field-wrapper">
															<label class="color-charcoal">Email:</label>
															<input type="email" name="email" class="form-email form-element rounded medium" placeholder="zuber1077@yahoo.com" required>
														</div>
													</div>
													<div class="column width-12">
														<div class="field-wrapper">
															<label class="color-charcoal">Password:</label>
															<input type="password" name="password" class="form-password form-element rounded medium" placeholder="•••••••• (8 or more characters)" required>
														</div>
													</div>
													<div class="column width-12 mt-10 center">
														<input type="submit" value="Create Account" class="form-submit button rounded medium bkg-green bkg-hover-theme bkg-focus-green color-white color-hover-white no-margins">
													</div>
												</div>
											</form>
											<p class="text-small mt-20 center">By creating an account you agree to our terms - <a href="#">Read More</a></p>
											<div class="form-response show"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Intro Section End -->

				

			</div>
			<!-- Content End -->

			

		</div>
	</div>

	<!-- Js -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3JCAhNj6tVAO_LSb8M-AzMlidiT-RPAs"></script>
	<script src="js/timber.master.min.js"></script>
</body>
</html>