<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= title %></title>

<%- include ../partials/navbar.ejs %>
<section class="page-content">
<div class="page-content-inner">

    <!-- Profile Header -->

    <input type="hidden" name="" id="name-user" value="<%= user.username %>">
    <input type="hidden" name="" id="name-image" value="<%= user.userImage %>">
    <nav class="top-submenu top-submenu-with-background">
        <div class="profile-header">
            <div class="profile-header-info">
                <div class="row">
                    <!-- <div class="col-xl-8 col-xl-offset-4">
                        <div class="width-100 text-center pull-right hidden-md-down">
                            <h2>154</h2>
                            <p>Followers</p>
                        </div>
                        <div class="width-100 text-center pull-right hidden-md-down">
                            <h2>17</h2>
                            <p>Posts</p>
                        </div>
                        <div class="profile-header-title">
                            <h2>Artour Scott <small>@</small></h2>
                            <p>Founder / CEO</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </nav>
    <!-- End Profile Header -->

    <!-- Profile -->
    <div class="row">
        <div class="col-xl-4">
            <section class="panel profile-user" style="background-image: url()">
                <div class="panel-body">
                    <div class="profile-user-title text-center">
                        <a class="avatar" href="javascript:void(0);">
                            <img src="../assets/common/img/temp/avatars/1.jpg" alt="Alternative text to the image">
                        </a>
                        <br />
                        <h3 id="receiver_name" style="color: #fff"></h3>
                        <div class="btn-group btn-group-justified" aria-label="" role="group">
                            <!-- <div class="btn-group">
                                <button type="button" class="btn width-150 swal-btn-success">Follow</button>
                            </div> -->
                            <!-- <div class="btn-group">
                                <button type="button" class="btn width-150 swal-btn-success-2">Add to Friend</button>
                            </div> -->
                        </div>
                        <br />
                        <p>Last activity: 5 May 2018 7:26PM</p>
                        <p>
                            <span class="donut donut-success"></span>
                            Online
                        </p>
                    </div>
                </div>
            </section>
            <div class="widget widget-three messaging">
                 <div class="panel-sidebar">
            <div class="messaging-search">
                <div class="search-block">
                    <h5 class="messaging-list-title-name">Online Friend <span id="numOfFriends"></span></h5>
                    <div class="form-input-icon form-input-icon-right">
                        <i class="icmn-search"></i>
                        <input type="text" class="form-control form-control-sm" placeholder="Search...">
                        <button type="submit" class="search-block-submit "></button>
                    </div>
                </div>
            </div>
           
            <div class="messaging-list">
                <div class="messaging-list-item">
                    <div class="s2">
                       <!--  -->
                    </div>
                </div>
                <div class="onlineFriends"></div>
                
            </div>
        
        </div>
            </div>
        </div>
        <div class="col-xl-8">
            <section class="panel profile-user-content">
                <div class="panel-body">
                    <div class="nav-tabs-horizontal">
                        <ul class="nav nav-tabs" role="tablist">
                            <!-- <li class="nav-item">
                                <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#posts" role="tab">
                                    <i class="icmn-menu3"></i>
                                    Wall
                                </a>
                            </li> -->
                            <!-- <li class="nav-item ">
                                <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#messaging" role="tab">
                                    <i class="icmn-bubbles5"></i>
                                    Messages
                                </a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#settings" role="tab">
                                    <i class="icmn-cog"></i>
                                    Settings
                                </a>
                            </li>
                        </ul>
                       
                        <form class="form" role="form" method="POST" id="form" action="#">
                        <div class="tab-content padding-vertical-20">
                            <!--  -->
                            
                            <div class="tab-pane active" id="settings" role="tabpanel">
                                <br />
                                <span style="text-align: center;" id="error"></span>
                                <h5>Personal Information</h5>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="l0">Username</label>
                                            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="l1">Fullname</label>
                                            <input type="text" class="form-control" id="fullname" name="fullname"  placeholder="Fullname">
                                        </div>
                                    </div>
                                </div>
                                <label for="">Gender: </label>
                                <label for="" style="margin-right: 65px;"></label>
                                <label for="" class="radio-inline">
                                    <input type="radio" name="gender" id="gender" value="Male">Male
                                </label>
                                <label for="" class="radio-inline">
                                    <input type="radio" name="gender" id="gender" value="Female">Female
                                </label>
                                <br />
                                <h5>About</h5>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="l3">Nationality</label>
                                            <input type="text" class="form-control" id="country" name="country" placeholder="Country">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="l4" >Bio</label>
                                            <textarea class="form-control" name="bio"  id="bio" placeholder="A one line Sentence"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <br />
                                        <h5>Profile Avatar</h5>
                                        <div class="form-group">
                                           
                                            <label class="form-control-label" for="l6">Add profile Photo</label>
                                            <button type="button" class="add-btn btn btn-primary-outline">Add Profile Image</button>
                                            <input type="file" name="upload" id="add-input" style="display: none">
                                            <span id="completed"></span>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-6">
                                        <br />
                                        <h5>Group you Like</h5>
                                        <div class="form-group">
                                            <label for=""></label>
                                            <select name="group" id="group" class="form-control select2">
                                                <option value="">Group Name</option>
                                            </select>
                                        </div>
                                    </div> -->
                                    <!-- <div class="col-lg-6">
                                        <br />
                                        <h5>Profile Background</h5>
                                        <div class="form-group">
                                            <label class="form-control-label" for="l5">File Upload</label>
                                            <input type="file" id="l5">
                                        </div>
                                    </div> -->
                                </div>
                                <div class="form-actions">
                                    <div class="form-group">
                                        <button type="submit" id="profile" name="submit" class="btn width-150 btn-primary">Save Profile</button>
                                        <button type="button" id="cancel" name="cancel" class="btn btn-default">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- End Profile -->

</div>

<!-- Page Scripts -->
<!-- <script>
    $(function() {

        ///////////////////////////////////////////////////////////
        // ADJUSTABLE TEXTAREA
        autosize($('.adjustable-textarea'));

        ///////////////////////////////////////////////////////////
        // SWAL ALERTS
        $('.swal-btn-success').click(function(e){
            e.preventDefault();
            swal({
                title: "Following",
                text: "Now you are following zuber",
                type: "success",
                confirmButtonClass: "btn-success",
                confirmButtonText: "Ok"
            });
        });

        $('.swal-btn-success-2').click(function(e){
            e.preventDefault();
            swal({
                title: "Friends request",
                text: "Friends request was succesfully sent to zuber",
                type: "success",
                confirmButtonClass: "btn-success",
                confirmButtonText: "Ok"
            });
        });

    });
</script> -->
<!-- End Page Scripts -->
</section>

<div class="main-backdrop"><!-- --></div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/privatechat/pm.js"></script>
<script src="/js/messagelink.js"></script>
<script src="/js/group/sendrequest.js"></script>
<script src="/js/user/profile.js"></script>
<script src="/js/global.js"></script>
<script src="/js/deparam.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.js"></script>

</body>
</html>