<!DOCTYPE html>
<html lang="zxx">
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">

	<!-- Open Graph -->
	<meta property="og:type" content="website" />
	<meta property="og:description" content="Your Page Description Here" />

	<!-- Twitter Theme -->
	
	<!-- Title &amp; Favicon -->
	<title>GPchat | group chat</title>
	<!-- <link rel="shortcut icon" type="image/x-icon" href="images/theme-mountain-favicon.ico"> -->

	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700%7CLato:300,400,700' rel='stylesheet' type='text/css'>
	
	
	
	<!-- Css -->
	<link rel="stylesheet" href="../css/core.min.css" />
	<link rel="stylesheet" href="../css/skin.css" />

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body class="shop catalogue-products">

	<!-- Side Navigation Menu -->
	<aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="push-in">
		<div class="side-navigation-scroll-pane">
			<div class="side-navigation-inner">
				<div class="side-navigation-header">
					<div class="navigation-hide side-nav-hide">
						<a href="#">
							<span class="icon-cancel medium"></span>
						</a>
					</div>
				</div>
				<div class="side-navigation-footer">
					<p class="copyright no-margin-bottom">&copy; 2018 GPchat Alright Resiver.</p>
				</div>
			</div>
		</div>
	</aside>
	<!-- Side Navigation Menu End -->

	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">

			<!-- Header -->
			<header class="header header-relative header-fixed-on-mobile nav-dark" data-bkg-threshold="100" data-sticky-threshold="0">
				<div class="header-inner">
					<div class="row nav-bar">
						<div class="column width-12 nav-bar-inner">
							<div class="logo">
								<div class="logo-inner">
									<a href="/home"><img src="images/logo-dark.png" alt="GPchat Logo" /></a>
									<a href="/home"><img src="images/logo.png" alt="GPchat Logo" /></a>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</header>
			
			<!-- Header End -->
		
           
			<!-- Content -->
			<div class="content clearfix">

				<!-- Intro Title Section 2 -->
				<div class="section-block intro-title-1 small bkg-grey-ultralight">
					<div class="row">
						<div class="column width-12">
							<div class="title-container">
								<div class="title-container-inner">
									<div class="row flex">
										<div class="column width-6 v-align-middle">
											<div>
												<h1 class="mb-0">Newsroom</h1>
												<p class="lead mb-0 mb-mobile-20">Stay in the loop with GPchat</p>
											</div>
										</div>
										<div class="column width-6 v-align-middle">
											<div>
												<ul class="breadcrumb mb-0 pull-right clear-float-on-mobile">
													<li>
														<a href="/home">Home</a>
													</li>
													<li>
														Newsroom
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Intro Title Section 2 End -->

				<div class="section-block clearfix pt-0 pb-0 bkg-grey-ultralight">
					<div class="row">

						<!-- Content Inner -->
						<div class="column width-8 push-4 content-inner blog-regular" id="newsResults">
							<!-- <article class="post">
								<div class="post-content with-background">
									<h2 class="post-title center"><a href="blog-single-post-sidebar-right.html">The key to building a prototyping tool for an ever-changing market</a></h2>
									<div class="post-info center">
										<span class="post-date">25 Aug 2017</span>, in <span class="post-category"><a href="#">Development</a></span>, <span class="post-tags"><span><a href="#" class="post-tag label small rounded border-pink color-pink bkg-hover-pink bkg-hover-white">Press Release</a></span></span>
									</div>
									<div class="post-media">
										<div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
											<a class="overlay-link" href="blog-single-post-sidebar-right.html">
												<img src="images/blog/regular/image-regular.jpg" alt=""/>
												<span class="overlay-info">
													<span>
														<span>
															Read Full Article
														</span>
													</span>
												</span>
											</a>
										</div>
									</div>
									<p></p>
									<a href="#" class="read-more">Read More →</a>
									 <div class="post-author">
										<div class="row">
											<div class="column width-12">
												<div class="author-bio">
													<div class="author-avatar clear-float">
														<img src="images/blog/bio-avatar.jpg" alt="Avatar">
													</div>
													<div class="author-content">
														<div class="row">
															<div class="column width-12">
																<div class="name">by <a href="#">zuber a</a></div>
																<p class="author-title"> Evangelist, JS Guru and Beer Lover</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div> 
								</div>
							</article> -->
						</div>
						<!-- Content Inner End -->

						<style>
							
						</style>
						<!-- Sidebar -->
						<aside class="column width-4 pull-8 sidebar right">
							<div class="sidebar-inner">
								<div class="freeze with-background" data-extra-space-top="100" data-extra-space-bottom="0" data-push-section="#pagination">
									<div class="widget">
										<h3 class="widget-title">About</h3>
										<p><strong>Lorem ipsum, dolor sit amet cons ?</strong> Odit ullam numquam adipisci. Ea esse sed, expedita iure aperiam corporis, autem voluptate ipsam nihil veritatis ab dolor impedit maxime a cupiditate.</p>
									</div>
									<div class="widget">
										<h3 class="widget-title">Find Something</h3>
										<div class="search-form-container site-search">
											<form action="#" method="get" novalidate>
												<div class="row">
													<div class="column width-12">
														<div class="field-wrapper">
															<input type="text" name="search" class="form-search form-element rounded" placeholder="type &amp; hit enter...">
															<span class="border"></span>
														</div>
													</div>
												</div>
											</form>
											<div class="form-response"></div>
										</div>
									</div>
									<div class="widget">
										<h3 class="widget-title">Popular Categories</h3>
										<ul>
											<li><a href="#">Development</a></li>
											<li><a href="#">Tools</a></li>
											<li><a href="#">Changelog</a></li>
											<li><a href="#">Inspiration</a></li>
											<li><a href="#">Ecommerce</a></li>
											<li><a href="#">Security</a></li>
										</ul>
									</div>
								</div>
							</div>
						</aside>
						<!-- Sidebar End -->

					</div>
				</div>
				
				<!-- Pagination Section 3 -->
				<div id="pagination" class="section-block pagination-3 bkg-grey-ultralight">
					<div class="row">
						<div class="column width-12">
							<ul>
								<li><a class="pagination-previous icon-left-open" href="#"><span class="icon-left-open-mini"></span></a></li>
								<li><a class="current" href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<button id="loadMore" class="button medium rounded border-theme dashed bkg-hover-theme color-theme color-hover-white">Load More<span class="icon-right-open-mini"></span></button>
								<li id="linkTop"><a href="/letest-news" class="pagination-previous icon-right-open" ><span class="icon-align-top"></span></a></li>
							</ul>
							<style>
								[class*=border-].dashed{
									    background: #fff;
										border: 1px solid #ecedf2;
								}

								
								.color-hover-white:hover, .color-white{
									    background: #ecedf2;
									color: #6d7485;
								}

								.paginate{
									display: none;
								}
							</style>
						</div>
					</div>
				</div>
				<!-- Pagination Section 3 End -->

			</div>
			<!-- Content End -->
			
		</div>
	<!-- </div> -->

	<!-- Js -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/timber.master.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/messagelink.js"></script>
	<script src="/js/group/sendrequest.js"></script>
	<script src="/js/home.js"></script>
	<!-- <script src="/js/global.js"></script> -->
	<script src="/js/deparam.js"></script>
	<script src="/js/news/news.js"></script>
</body>
</html>